h1,h2{
    font-family: 'Oswald', sans-serif;
}
h3,h4,h5{
    font-family: 'Cabin', sans-serif;   
}

p,a, table, label, input{
    font-family: 'Montserrat', sans-serif;
}
label, input{
    display: block;
    text-align: left;
}
input:focus{
    outline: none;
}
a{
    color: black;
    text-decoration: none;
}
ul, li{
    list-style: none;
    padding: 0;
}
table{
    border: none;
}
button.btn{
    appearance: none;
    background-color: #fff;
    color: #000;
    border: none;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    width: 100%;
}
/* Cuerpo Principal */
main.main-content{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 50px 30px;
}
main.main-content h1{
    font-weight: 400;
    margin-top: 0;
    font-size: 1.8em;
}


/*  -------------------  PAGINA DE LOGIN  -------------------  */
main.login{
    width: 100vw;
    height: 100vh;
    background-color: #ff4c2c;
    text-align: center;
    overflow: hidden;
}

.login form#login-form{
    background-color:  rgb(247, 249, 250);
    display: block;
    width: 45%;
    margin: 10% auto;
    padding: 15px 40px 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #5d1a0f;
}
.login form#login-form label{
    margin: 20px 0;
    width: 100%;
    text-align: center;
}
.login form#login-form input[type="text"],
.login form#login-form input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    padding: 1em 1.5em;
    font-size: .8em;
    border-radius: 1.5em;
    border-style: none;
    border: 1px solid #ccc;
}
.login form#login-form input[type="submit"]{
    appearance: none;
    cursor: pointer;
    border-style: none;
    box-sizing: border-box;
    padding: .8em 2em;
    font-size: .8em;
    margin: 30px 0 0 auto;
    text-align: right;
    background-color:  rgb(217, 225, 230);
    font-size: .9em;
    border-radius: 5px; 
}
.login form#login-form input[type="submit"]:hover{
    background-color:  #aa734e;
    color: white;
}

/*  -------------------  SUBIR ARCHIVOS  -------------------  */
#container-upload{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#container-upload  > h3{
    margin: 0 20px;
}
#container-upload .upload-file{
    flex: 2;
    margin: 0 auto 20px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    border-width: 5px;
    border-collapse: separate;
    border-style: dashed;
    border-color: #94cde7;
}
.upload-file [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}
.upload-file [type="file"] + label {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 80px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

.upload-file [type="file"] + label.btn-2{
    background-color: #94cde7;
    border-radius: 50px;
    overflow: hidden;
}
.upload-file [type="file"] + label.btn-2::before {
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
    color: #fff;
}

.upload-file [type="file"] + label.btn-2:hover {
    background-color: #4e88aa;
}
.upload-file [type="file"] + label.btn-2:hover::before {
    right: 75%;
}
/* CONTENIDO DE CARPETAS */
#content-files{
    background-color: rgb(247, 249, 250);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 1.2em;
}
#content-files .title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#content-files .title-container > a.main-title{
    flex: 1
}
#content-files .btn-container{
    box-sizing: border-box;
    flex: 4;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}
#content-files .btn-container a.btn.btn-download i{
    color: #29aaf5!important;
    margin-right: 15px;
}
#content-files .btn-container a.btn.btn-delete i{
    color: #f52944!important;
}
#content-files ul.subfolder {
    padding-left: 18px;
}
#content-files ul li a{
    display: block;
    box-sizing: border-box;
    padding: 4px 0;
}
#content-files ul li a i{
    color: rgb(180, 178, 178);
}
#content-files ul li a i.element-icon{
    margin-right: 10px;
}
#content-files ul li a i.arrow-icon{
    margin-right: 12px;
}
