h1,h2{
    font-family: 'Oswald', sans-serif;
}

h3,h4,h5{
    font-family: 'Cabin', sans-serif;   
}

p,a, table{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
ul, li{
    list-style: none;
    padding: 0;
}
table{
    border: none;
}
button.btn{
    appearance: none;
    background-color: #fff;
    color: #000;
    border: none;
}

/* Menu Principal */
body{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    width: 100%;
}
aside.left-menu{
    background-color: rgb(247, 249, 250);
    width: 25vw;
    /* height: 100%; */
    box-sizing: border-box;
    padding: 50px 30px;
}

.left-menu a.main-icon {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding:  13px 20px;
    border-radius: 5px;
    color: rgb(223, 223, 223);
    margin-bottom: 25px;
}
.left-menu a.main-icon > i{
    margin-right: 10px;
}
.left-menu a.main-icon#upload{
    background-color: #292cf5;
}
.left-menu a.main-icon#home{
    background-color: #7729f5;
}

.left-menu #all-folders p.main-title{
    font-size: 1.2em;
    font-weight: bold;
}

.left-menu #all-folders ul.subfolder {
    padding-left: 18px;
}
.left-menu #all-folders ul li a{
    display: block;
    box-sizing: border-box;
    padding: 4px 0;
}
.left-menu #all-folders ul li a i{
    color: rgb(180, 178, 178);
}
.left-menu #all-folders ul li a i.element-icon{
    margin-right: 10px;
}
.left-menu #all-folders ul li a i.arrow-icon{
    margin-right: 12px;
}
/* Cuerpo Principal */
main.main-content{
    background-color: rgb(255, 255, 255);
    width: 75vw;
    box-sizing: border-box;
    padding: 50px 30px;
}
main.main-content h1{
    font-weight: 400;
    margin-top: 0;
    font-size: 1.8em;
}

.main-content #content-folders{
    width: auto;
    height: 150px;
    margin-bottom: 50px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 25px;
}
.main-content #content-folders .element-folder{
    display: inline-block;
    height: 100%;
    width: 150px;
    background-color: rgb(242, 244, 245);
    text-align: center;
    margin-right: 25px;
    border-radius: 5px;
    color: rgb(43, 43, 43);
}
.main-content #content-folders .element-folder img{
    width: 60px;
    margin-top: 20px;
}


.main-content #content-files,
.main-content #content-files table{
    width: 100%;
    height: 30%;
    text-align: justify;
}
.main-content #content-files table thead tr th{
    color: rgb(121, 121, 121);
    padding: 10px 0 10px 20px;
    border-bottom: 2px solid rgb(189, 189, 189);
}

.main-content #content-files table tbody tr td{
    color: rgb(39, 39, 39);
    padding: 18px 0 18px 20px;
    border-bottom: 1px solid rgb(170, 170, 170);

}

.main-content #content-files table tbody tr td > i{
    color: rgb(185, 185, 185);
    font-size: 1.5em;
    margin-right: 15px;
}
.main-content #content-files table tbody tr td > a.btn{
    font-size: 1.8em;
}
.main-content #content-files table tbody tr td > a.btn.btn-download{
    color: #29aaf5;
    margin-right: 15px;
}
.main-content #content-files table tbody tr td > a.btn.btn-delete{
    color: #f52944;
}
main#drag-zone{
    background-color: rgb(170, 170, 170);
}